.navbar-name{
  font-size: 2.0em;
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: bold;
  margin: 10px;
}

.lc-logo{
	width: 50px;
	height: auto;
	position: left;
	top: 12px;
}

.row {
	margin: 10px;
}

#map {
	height: 500px;
	width: auto;
}

#zoek, .stopvan, .stopnaar {
	position: center;
	width: 100%;
}